Repository naoji3x/nextjs-firebase-cloudflare: changes, and which lefthook commands are due for each by the changed paths.
All: format, lintstyles, lintjavascript, lintmarkdown

lefthook.yml:

pre-push:
  commands:
    frontend-packages-audit:
      tags: frontend security
      run: npm audit --production
    functions-packages-audit:
      tags: functions security
      root: functions
      run: npm audit --production

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml}'
      run: npx prettier {staged_files} --write
    lintstyles:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files}
    lintjavascript:
      glob: '*.{js,ts,tsx}'
      run: npx eslint {staged_files}
    lintmarkdown:
      glob: '*.{md}'
      run: npx markdownlint-cli {staged_files}

# Use this to validate commit messages
commit-msg:
  commands:
    'lint commit message':
      run: npx --no -- commitlint --edit "$1"

test: add app/page stories
  .storybook/main.ts
  src/app/_components/social-sign-in.stories.ts
  src/app/_components/social-sign-in.tsx
  src/app/home/page.stories.ts
  src/app/page.stories.ts
  src/features/firebase/api/google-auth.mock.ts
  src/features/firebase/api/google-auth.ts
  src/providers/auth-provider.tsx
Due: format, lintjavascript

refactor: messaging-provider
  src/features/firebase/api/message.mock.ts
  src/features/firebase/api/message.ts
  src/providers/messaging-provider.tsx
Due: format, lintjavascript

test: add next-auth provider mock
  .storybook/preview.tsx
  src/app/home/page.stories.tsx
  src/app/page.stories.tsx
  src/features/firebase/api/google-auth.mock.ts
  src/features/firebase/api/message.mock.ts
Due: format, lintjavascript

feat: add PWA
  .gitignore
  next.config.mjs
  package-lock.json
  package.json
  public/images/icons/circle-icon-512x512.png
  public/images/icons/icon-192x192.png
  public/images/icons/icon-512x512.png
  public/images/icons/maskable-icon-192x192.png
  public/images/icons/maskable-icon-512x512.png
  public/manifest.json
  src/app/home/page.tsx
  src/app/layout.tsx
  src/env.mjs
Due: format, lintjavascript

fix: move dotenv to dependencies
  functions/package-lock.json
  functions/package.json
Due: format

fix: remove next-pwa
  next.config.mjs
  package-lock.json
  package.json
  public/manifest.json
  src/app/layout.tsx
Due: format, lintjavascript

feat: add serwist/next
  .gitignore
  .vscode/settings.json
  next.config.mjs
  package-lock.json
  package.json
  src/features/firebase/api/message.ts
  src/sw.ts
  tsconfig.json
Due: format, lintjavascript

fix: move manifest.json to src/app
  src/app/layout.tsx
  src/app/manifest.json
Due: format, lintjavascript

refactor: remove firebase-messaging-sw.js
  next.config.mjs
  public/firebase-messaging-sw.js
  src/app/layout.tsx
  src/sw.ts
Due: format, lintjavascript

chore: remove navigationPreload
  .gitignore
  src/app/signout/page.tsx
  src/features/firebase/api/google-auth.ts
  src/sw.ts
Due: format, lintjavascript

fix: signout error
  next.config.mjs
  src/app/_components/social-sign-in.tsx
  src/app/signout/page.tsx
  src/features/firebase/api/google-auth.mock.ts
  src/features/firebase/api/google-auth.ts
  src/providers/auth-provider.tsx
  src/sw.ts
  tsconfig.json
Due: format, lintjavascript

fix: webpack audit
  package-lock.json
Due: format

build: add version
  functions/package.json
Due: format

fix: ui components and build scripts
  .gitignore
  package-lock.json
  package.json
  scripts/terraform/cloudflare/main.tf
  src/components/elements/date-picker.tsx
  src/components/ui/calendar.tsx
  sw-env-build.js
Due: format, lintjavascript

build: specify node version
  .node-version
  scripts/terraform/cloudflare/main.tf
  scripts/terraform/cloudflare/variables.tf
Due: none

fix: typo
  scripts/terraform/cloudflare/main.tf
Due: none

fix: firebase-messaging-sw
  .eslintrc.json
  .gitignore
  next.config.mjs
  package.json
  public/firebase-messaging-sw.js
  src/sw.ts
  sw-env-build.js
  tsconfig.json
Due: format, lintjavascript

fix: disable serwist
  next.config.mjs
Due: none

feat: remove pwa
  next.config.mjs
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/manifest.json
  src/sw.ts
Due: format, lintjavascript

fix: remove types
  tsconfig.json
Due: format

build: add develop to preview
  scripts/terraform/cloudflare/main.tf
Due: none

fix: remove redirect
  src/app/signout/page.tsx
  src/features/firebase/api/google-auth.ts
Due: format, lintjavascript

feat: add pwa
  next.config.mjs
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/manifest.json
  src/sw.ts
Due: format, lintjavascript

feat: disable navigation preload
  src/sw.ts
Due: format, lintjavascript

fix: tsconfig
  src/sw.ts
  tsconfig.json
Due: format, lintjavascript

feat: add signin and signout handling
  src/app/_components/social-sign-in.tsx
  src/app/signin/page.tsx
  src/app/signout/page.tsx
  src/features/firebase/api/google-auth.ts
  src/middleware.ts
Due: format, lintjavascript

fix: add error redirect
  src/auth.config.ts
Due: format, lintjavascript

fix: exclude signin and signout from serwist
  next.config.mjs
  src/app/signout/page.tsx
Due: format, lintjavascript

fix: set manifest scope and start_url
  src/app/manifest.json
Due: format

fix: reset manifest scope and start_url
  src/app/manifest.json
Due: format

fix: add uuid
  .devcontainer/devcontainer.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/features/firebase/api/todo.ts
Due: format, lintjavascript

fix: message and toast
  src/app/home/page.tsx
  src/hooks/speech-toast.tsx
Due: format, lintjavascript

chore: fix footer
  package.json
  src/app/home/page.tsx
Due: format, lintjavascript

refactor: speech toast
  package-lock.json
  src/components/ui/toast.tsx
  src/components/ui/use-toast.ts
  src/hooks/speech-toast.tsx
Due: format, lintjavascript

refactor: speech toast button
  package.json
  src/hooks/speech-toast.tsx
Due: format, lintjavascript

feat: add favicon
  src/app/favicon.ico
Due: none

feat: remove middleware
  package-lock.json
  src/auth.config.ts
  src/middleware.ts
Due: format, lintjavascript

chore: remove comments
  src/app/_components/social-sign-in.tsx
Due: format, lintjavascript

feat: redirect to signin on error
  package.json
  src/auth.config.ts
Due: format, lintjavascript

build: update serwist
  package-lock.json
  package.json
Due: format
