Repository naoji3x/nextjs-firebase-cloudflare: changes, and which lefthook commands are due for each by the changed paths.
All: format, lintstyles, lintjavascript, lintmarkdown

format:
  run: npx prettier {staged_files} --write

lintstyles:
  run: npx stylelint {staged_files}

lintjavascript:
  run: npx eslint {staged_files}

lintmarkdown:
  run: npx markdownlint-cli {staged_files}

feat: add middleware
  src/middleware.ts
Due: format, lintjavascript

build: update next.js
  package-lock.json
  package.json
Due: format

build: remove beta from functions uri
  functions/src/services/function-uri.ts
Due: format, lintjavascript

build: add github actions
  .github/workflows/firebase-deploy.yml
  .gitignore
Due: format

build: add firebase-action
  .devcontainer/devcontainer.json
  .github/workflows/firebase-deploy.yml
  package.json
  tests/act/firebase-dev.json
Due: format

fix: firebase-deploy.yml
  .github/workflows/firebase-deploy.yml
Due: format

fix: add project id
  .github/workflows/firebase-deploy.yml
Due: format

fix: install dependencies
  .github/workflows/firebase-deploy.yml
  functions/vite.config.js
Due: format, lintjavascript

fix: remove storage deployment
  .github/workflows/firebase-deploy.yml
Due: format

fix: remove firestore deployment
  .github/workflows/firebase-deploy.yml
Due: format

fix: add build
  .github/workflows/firebase-deploy.yml
  functions/package-lock.json
  functions/package.json
  scripts/terraform/firebase/main.tf
Due: format

fix: add needs
  .github/workflows/firebase-deploy.yml
Due: format

fix: add artifact
  .github/workflows/firebase-deploy.yml
Due: format

fix: merge jobs
  .github/workflows/firebase-deploy.yml
Due: format

fix: add functions' project id and region
  .github/workflows/firebase-deploy.yml
Due: format

fix: setup env values
  .github/workflows/firebase-deploy.yml
  package.json
  tests/act/dummy.secrets
Due: format

fix: fix GCP_SA_KEY
  .devcontainer/devcontainer.json
  .github/workflows/firebase-deploy.yml
Due: format

fix: firebase region
  .github/workflows/firebase-deploy.yml
  functions/src/lib/admin.ts
Due: format, lintjavascript

fix: node version
  .github/workflows/firebase-deploy.yml
Due: format

fix: set FUNCTIONS_REGION env value
  .github/workflows/firebase-deploy.yml
  functions/src/lib/admin.ts
Due: format, lintjavascript

fix: add FUNCTIONS_PROJECT_ID env value
  .github/workflows/firebase-deploy.yml
Due: format

fix: secret values
  .github/workflows/firebase-deploy.yml
Due: format

fix: add REGION
  .github/workflows/firebase-deploy.yml
Due: format

fix: add CONFIG_VALUES
  .github/workflows/firebase-deploy.yml
Due: format

fix: include region in code
  .github/workflows/firebase-deploy.yml
  functions/src/lib/admin.ts
Due: format, lintjavascript

fix: add storage and firestore
  .github/workflows/firebase-deploy.yml
Due: format

fix: remove functions
  .github/workflows/firebase-deploy.yml
Due: format

fix: add functions and .env creation
  .github/workflows/firebase-deploy.yml
  functions/src/lib/admin.ts
Due: format, lintjavascript

fix: output FUNCTIONS_REGION
  .github/workflows/firebase-deploy.yml
Due: format

fix: move FIREBASE_REGION to secrets
  .github/workflows/firebase-deploy.yml
Due: format

fix: use variables
  .github/workflows/firebase-deploy.yml
Due: format

fix: variables to vars
  .github/workflows/firebase-deploy.yml
  package.json
  tests/act/dummy.secrets
  tests/act/dummy.vars
Due: format

refactor: firebase terraform scripts
  scripts/terraform/firebase/main.tf
  scripts/terraform/firebase/package.json
  scripts/terraform/firebase/provider.tf
  scripts/terraform/firebase/variables.tf
  scripts/terraform/gcloud/main.tf
  scripts/terraform/gcloud/variables.tf
Due: format

build: add service account creation scripts
  scripts/terraform/gcloud/.terraform.lock.hcl
  scripts/terraform/gcloud/main.tf
  scripts/terraform/gcloud/package.json
  scripts/terraform/gcloud/variables.tf
Due: format

refactor: firebase terraform scripts
  scripts/terraform/firebase/locals.tf
  scripts/terraform/firebase/main.tf
  scripts/terraform/firebase/variables.tf
Due: none

build: remove develop branch from cloudflare preview
  scripts/terraform/cloudflare/main.tf
Due: none

refactor: add terraform envs
  scripts/terraform/envs/cloudflare/.terraform.lock.hcl
  scripts/terraform/envs/cloudflare/env-build.js
  scripts/terraform/envs/cloudflare/main.tf
  scripts/terraform/envs/cloudflare/package.json
  scripts/terraform/envs/cloudflare/provider.tf
  scripts/terraform/envs/cloudflare/variables.tf
  scripts/terraform/envs/firebase/dev/.terraform.lock.hcl
  scripts/terraform/envs/firebase/dev/main.tf
  scripts/terraform/envs/firebase/dev/package.json
  scripts/terraform/envs/firebase/dev/provider.tf
  scripts/terraform/envs/firebase/dev/variables.tf
  scripts/terraform/envs/gcloud/dev/.terraform.lock.hcl
  scripts/terraform/envs/gcloud/dev/main.tf
  scripts/terraform/envs/gcloud/dev/package.json
  scripts/terraform/envs/gcloud/dev/variables.tf
  scripts/terraform/firebase/modules/firestore/main.tf
  scripts/terraform/firebase/modules/firestore/output.tf
  scripts/terraform/firebase/modules/firestore/variables.tf
  scripts/terraform/firebase/modules/storage/main.tf
  scripts/terraform/firebase/modules/storage/variables.tf
  scripts/terraform/modules/firebase/main.tf
  scripts/terraform/modules/firebase/provider.tf
  scripts/terraform/modules/firebase/variables.tf
  scripts/terraform/modules/gcloud/main.tf
  scripts/terraform/modules/gcloud/variables.tf
Due: format, lintjavascript

refactor: terraform package.json
  scripts/terraform/envs/cloudflare/env-build.js
  scripts/terraform/envs/cloudflare/package.json
  scripts/terraform/envs/firebase/dev/package.json
  scripts/terraform/envs/gcloud/dev/package.json
Due: format, lintjavascript

build: add staging and prod
  scripts/terraform/envs/cloudflare/main.tf
  scripts/terraform/envs/firebase/dev/terraform.tfvars.sample
  scripts/terraform/envs/firebase/prod/main.tf
  scripts/terraform/envs/firebase/prod/package.json
  scripts/terraform/envs/firebase/prod/provider.tf
  scripts/terraform/envs/firebase/prod/terraform.tfvars.sample
  scripts/terraform/envs/firebase/prod/variables.tf
  scripts/terraform/envs/firebase/staging/.terraform.lock.hcl
  scripts/terraform/envs/firebase/staging/main.tf
  scripts/terraform/envs/firebase/staging/package.json
  scripts/terraform/envs/firebase/staging/provider.tf
  scripts/terraform/envs/firebase/staging/terraform.tfvars.sample
  scripts/terraform/envs/firebase/staging/variables.tf
  scripts/terraform/envs/gcloud/dev/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/prod/main.tf
  scripts/terraform/envs/gcloud/prod/package.json
  scripts/terraform/envs/gcloud/prod/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/prod/variables.tf
  scripts/terraform/envs/gcloud/staging/.terraform.lock.hcl
  scripts/terraform/envs/gcloud/staging/main.tf
  scripts/terraform/envs/gcloud/staging/package.json
  scripts/terraform/envs/gcloud/staging/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/staging/variables.tf
Due: format

build: fix prod settings
  scripts/terraform/envs/cloudflare/.terraform.lock.hcl
  scripts/terraform/envs/cloudflare/env-build.js
  scripts/terraform/envs/cloudflare/main.tf
  scripts/terraform/envs/firebase/prod/.terraform.lock.hcl
  scripts/terraform/envs/firebase/prod/main.tf
  scripts/terraform/envs/gcloud/prod/.terraform.lock.hcl
Due: format, lintjavascript

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml}
  lintstyles: any of: *.{css,scss}
  lintjavascript: any of: *.{js,ts,tsx}
  lintmarkdown: any of: *.{md}
