Repository naoji3x/nextjs-firebase-cloudflare: changes, and which lefthook commands are due for each by the changed paths.
All: format, lintstyles, lintjavascript, lintmarkdown

lefthook.yml:

pre-push:
  commands:
    frontend-packages-audit:
      tags: frontend security
      run: npm audit --production
    functions-packages-audit:
      tags: functions security
      root: functions
      run: npm audit --production

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml}'
      run: npx prettier {staged_files} --write
    lintstyles:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files}
    lintjavascript:
      glob: '*.{js,ts,tsx}'
      run: npx eslint {staged_files}
    lintmarkdown:
      glob: '*.{md}'
      run: npx markdownlint-cli {staged_files}

# Use this to validate commit messages
commit-msg:
  commands:
    'lint commit message':
      run: npx --no -- commitlint --edit "$1"

build: add functions build to prod
  .github/workflows/firebase-deploy.yml
Due: format

build: add prod functions deploy
  functions/package.json
Due: format

build: fix artifact registry role
  scripts/terraform/modules/gcloud/main.tf
Due: none

build: add default firebase env
  scripts/terraform/envs/firebase/default/.terraform.lock.hcl
  scripts/terraform/envs/firebase/default/main.tf
  scripts/terraform/envs/firebase/default/package.json
  scripts/terraform/envs/firebase/default/provider.tf
  scripts/terraform/envs/firebase/default/terraform.tfvars.sample
  scripts/terraform/envs/firebase/default/variables.tf
  scripts/terraform/envs/firebase/dev/.terraform.lock.hcl
  scripts/terraform/envs/firebase/dev/main.tf
  scripts/terraform/modules/gcloud/main.tf
Due: format

build: fix cloud tasks role
  scripts/terraform/modules/gcloud/main.tf
Due: none

build: add default gcloud env
  functions/package.json
  functions/src/lib/admin.ts
  scripts/terraform/envs/firebase/prod/main.tf
  scripts/terraform/envs/gcloud/default/.terraform.lock.hcl
  scripts/terraform/envs/gcloud/default/main.tf
  scripts/terraform/envs/gcloud/default/package.json
  scripts/terraform/envs/gcloud/default/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/default/variables.tf
  scripts/terraform/envs/gcloud/dev/.terraform.lock.hcl
Due: format, lintjavascript

refactor: move shard types to functions
  functions/jest.config.ts
  functions/shared/types/auth.ts
  functions/shared/types/device-token.ts
  functions/shared/types/message.ts
  functions/shared/types/timestamps.ts
  functions/shared/types/todo.ts
  functions/shared/types/with-id.ts
  functions/tsconfig.json
  functions/vite.config.js
  package-lock.json
  tsconfig.json
Due: format, lintjavascript

refactor: terraform scripts
  scripts/terraform/envs/firebase/dev/main.tf
  scripts/terraform/envs/firebase/prod/main.tf
  scripts/terraform/modules/gcloud/main.tf
Due: none

feat: add error page
  src/app/error/page.tsx
  src/auth.config.ts
  src/middleware.ts
Due: format, lintjavascript

feat: add tabs
  .stylelintrc.json
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/app/globals.css
  src/app/home/_components/message-tab.tsx
  src/app/home/_components/settings-tab.tsx
  src/app/home/_components/tab-bar.tsx
  src/app/home/_components/todo-tab.tsx
  src/app/home/page.tsx
  src/app/page.stories.tsx
  src/components/ui/tabs.tsx
  src/components/ui/toggle-group.tsx
  src/components/ui/toggle.tsx
  src/hooks/footer-visible.ts
  src/providers/messaging-provider.tsx
  tailwind.config.ts
Due: format, lintstyles, lintjavascript

feat: add mode change
  package-lock.json
  package.json
  src/app/_components/social-sign-in.tsx
  src/app/error/page.tsx
  src/app/globals.css
  src/app/home/_components/settings-tab.tsx
  src/app/home/_components/tab-bar.tsx
  src/app/home/_components/todo-tab.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/elements/mode-selector.tsx
  src/components/ui/dropdown-menu.tsx
Due: format, lintstyles, lintjavascript

feat: change theme color
  src/app/globals.css
  src/app/home/_components/tab-bar.tsx
  src/app/home/page.tsx
Due: format, lintstyles, lintjavascript

feat: add logo icon and update firebase tools
  .devcontainer/devcontainer.json
  src/app/home/page.tsx
  src/app/layout.tsx
Due: format, lintjavascript

fix: change message icon
  src/app/home/_components/tab-bar.tsx
Due: format, lintjavascript

test: remove console.log and add dotenv cli
  functions/.gitignore
  functions/package-lock.json
  functions/package.json
  functions/src/lib/admin.ts
Due: format, lintjavascript

fix: functions audit
  functions/package-lock.json
Due: format

fix: add google services
  package.json
  scripts/terraform/envs/firebase/dev/.terraform.lock.hcl
  scripts/terraform/envs/firebase/dev/main.tf
  scripts/terraform/envs/firebase/prod/main.tf
  scripts/terraform/envs/firebase/staging/main.tf
Due: format

build: add cloudflare envs
  scripts/terraform/envs/cloudflare/build-env.js
  scripts/terraform/envs/cloudflare/dev/.terraform.lock.hcl
  scripts/terraform/envs/cloudflare/dev/locals.tf
  scripts/terraform/envs/cloudflare/dev/main.tf
  scripts/terraform/envs/cloudflare/dev/package.json
  scripts/terraform/envs/cloudflare/dev/variables.tf
  scripts/terraform/envs/cloudflare/prod/locals.tf
  scripts/terraform/envs/cloudflare/prod/main.tf
  scripts/terraform/envs/cloudflare/prod/package.json
  scripts/terraform/envs/cloudflare/prod/variables.tf
  scripts/terraform/envs/cloudflare/staging/locals.tf
  scripts/terraform/envs/cloudflare/staging/main.tf
  scripts/terraform/envs/cloudflare/staging/package.json
  scripts/terraform/envs/cloudflare/staging/variables.tf
  scripts/terraform/modules/cloudflare/main.tf
  scripts/terraform/modules/cloudflare/provider.tf
  scripts/terraform/modules/cloudflare/variables.tf
Due: format, lintjavascript

refactor: clean cloudflare terraform codes
  scripts/terraform/envs/cloudflare/.terraform.lock.hcl
  scripts/terraform/envs/cloudflare/env-build.js
  scripts/terraform/envs/cloudflare/main.tf
  scripts/terraform/envs/cloudflare/package.json
  scripts/terraform/envs/cloudflare/provider.tf
  scripts/terraform/envs/cloudflare/variables.tf
Due: format, lintjavascript

refactor: rename emv-build.js
  functions/package.json
  scripts/terraform/envs/cloudflare/dev/package.json
  scripts/terraform/envs/cloudflare/env-build.js
  scripts/terraform/envs/cloudflare/prod/package.json
  scripts/terraform/envs/cloudflare/staging/package.json
Due: format, lintjavascript

refactor: remove default settings and add .env.test
  functions/package.json
  functions/src/services/todo-message-service.test.ts
  functions/src/triggers/todo-trigger.test.ts
  package.json
  scripts/terraform/envs/firebase/default/.terraform.lock.hcl
  scripts/terraform/envs/firebase/default/main.tf
  scripts/terraform/envs/firebase/default/package.json
  scripts/terraform/envs/firebase/default/provider.tf
  scripts/terraform/envs/firebase/default/terraform.tfvars.sample
  scripts/terraform/envs/firebase/default/variables.tf
  scripts/terraform/envs/gcloud/default/.terraform.lock.hcl
  scripts/terraform/envs/gcloud/default/main.tf
  scripts/terraform/envs/gcloud/default/package.json
  scripts/terraform/envs/gcloud/default/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/default/variables.tf
Due: format, lintjavascript

fix: jest vscode error
  tsconfig.json
Due: format

fix: sync TodoCard checkbox
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  scripts/terraform/envs/cloudflare/prod/.terraform.lock.hcl
  src/components/elements/todo-card.tsx
Due: format, lintjavascript

fix: next.js cache poisoning
  package-lock.json
  package.json
Due: format

build: add functions/.env and locals.tf
  .github/workflows/firebase-deploy.yml
  functions/.env
  functions/.gitignore
  scripts/terraform/envs/firebase/dev/locals.tf
  scripts/terraform/envs/firebase/dev/main.tf
  scripts/terraform/envs/firebase/dev/variables.tf
  scripts/terraform/envs/firebase/prod/locals.tf
  scripts/terraform/envs/firebase/prod/main.tf
  scripts/terraform/envs/firebase/prod/variables.tf
  scripts/terraform/envs/firebase/staging/locals.tf
  scripts/terraform/envs/firebase/staging/main.tf
  scripts/terraform/envs/firebase/staging/variables.tf
  scripts/terraform/envs/gcloud/dev/locals.tf
  scripts/terraform/envs/gcloud/dev/main.tf
  scripts/terraform/envs/gcloud/dev/variables.tf
  scripts/terraform/envs/gcloud/prod/locals.tf
  scripts/terraform/envs/gcloud/prod/main.tf
  scripts/terraform/envs/gcloud/prod/variables.tf
  scripts/terraform/envs/gcloud/staging/locals.tf
  scripts/terraform/envs/gcloud/staging/main.tf
  scripts/terraform/envs/gcloud/staging/variables.tf
Due: format

fix: manifest.json
  src/app/manifest.json
  tsconfig.json
Due: format

build: add staging
  .gitignore
  functions/package.json
  package.json
  scripts/terraform/envs/cloudflare/staging/.terraform.lock.hcl
  scripts/terraform/envs/firebase/dev/main.tf
  scripts/terraform/envs/firebase/staging/.terraform.lock.hcl
  scripts/terraform/envs/firebase/staging/main.tf
  scripts/terraform/envs/gcloud/dev/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/prod/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/staging/terraform.tfvars.sample
Due: format

build: fix firebase-deploy.yml
  .github/workflows/firebase-deploy.yml
Due: format

fix: firebase-deploy.yml
  .github/workflows/firebase-deploy.yml
Due: format

fix: manifest.json
  scripts/terraform/envs/cloudflare/env-build.js
  src/app/layout.tsx
  src/app/manifest.json
Due: format, lintjavascript

fix: withSerwist exclude settings
  next.config.mjs
  package-lock.json
  package.json
Due: format

fix: add signin and signout to exclude
  next.config.mjs
Due: none

fix: add / to the head of icons src
  src/app/manifest.json
Due: format

fix: add manifest.json to metadata
  package-lock.json
  package.json
  public/next.svg
  src/app/apple-touch-icon.png
  src/app/favicon.ico
  src/app/icon.svg
  src/app/manifest.json
  src/app/pwa/page.tsx
  src/middleware.ts
Due: format, lintjavascript

refactor: remove next-pwa
  package-lock.json
  package.json
Due: format

build: add samples
  .env.development.sample
  .env.local.sample
  .env.production.sample
  .env.staging.sample
  .env.test.sample
  .firebaserc.sample
  functions/.env.test.sample
  functions/package.json
  package.json
  public/vercel.svg
  scripts/terraform/envs/cloudflare/dev/terraform.tfvars.sample
  scripts/terraform/envs/cloudflare/prod/terraform.tfvars.sample
  scripts/terraform/envs/cloudflare/staging/terraform.tfvars.sample
  scripts/terraform/envs/firebase/dev/main.tf
  scripts/terraform/envs/firebase/dev/terraform.tfvars.sample
  scripts/terraform/envs/firebase/prod/main.tf
  scripts/terraform/envs/firebase/prod/terraform.tfvars.sample
  scripts/terraform/envs/firebase/staging/main.tf
  scripts/terraform/envs/firebase/staging/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/dev/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/prod/terraform.tfvars.sample
  scripts/terraform/envs/gcloud/staging/terraform.tfvars.sample
Due: format

feat: add message log
  functions/.gitignore
  functions/src/services/message-service.ts
Due: format, lintjavascript

build: remove audit check temporally
  functions/src/services/message-service.ts
  lefthook.yml
  package-lock.json
  package.json
  src/middleware.ts
Due: format, lintjavascript

chore: fix version
  package.json
Due: format

chore: add sw-env.js to matcher
  package.json
  src/middleware.ts
Due: format, lintjavascript
